//
   Created by luyi-netease on 2016/5/16.
doctype HTML
html
    head
        meta(charset="UTF-8")
        meta(name="render", content="webkit")
        meta(name="keywords", content="chat-room, 聊天室")
        link(rel="stylesheet", href="")

