//
   Created by luyi-netease on 2016/4/25.

- console.log(0);
- console.log(0);
autocomplete()
script.
    module.exports = {
        data:function(){
            return{
                a:#{s}
            }
        }
    }